[package]
name = "shinkai_crypto_identities"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1", features = ["full"] }
tokio-util = "0.6"
bytes = "1"
serde_json = "1.0.105"
clap = { version = "3", features = ["derive"] }
shinkai_message_primitives = { path = "../shinkai-message-primitives" }
x25519-dalek = { version = "2.0.0", features = ["static_secrets"] }
ed25519-dalek = { version = "2.1.0", features = ["rand_core"] }
rand = "0.8"
chrono = "0.4"
chrono-tz = "0.5"
ethers = "2.0"
dashmap = "5.5.3"
tiny-bip39 = "0.8.0"
lazy_static = "1.4.0"

[dependencies.serde]
version = "1.0.188"
features = ["derive"]