target/
.env
./db/
./db_tests/
db_tests/
!package.json
!package-lock.json
!tsconfig.json
!.eslintrc.json
!toolkit-setup.json
./*.json
./*.bin
*.log
/models/
local-ai
server
embeddings
bert.cpp/
bert-cpp-server
a.out
packaged-shinkai-toolkit.js
shinkai-toolkit-executor.js
tmp_*.js
qr_code_profile_*.png
qr_code_device_*.png
.venv/
shinkai-libs/shinkai-message-pyo3/tests/__pycache__
