target/
.env
/db
./db_tests/
db_tests/
!package.json
!package-lock.json
!tsconfig.json
!.eslintrc.json
!toolkit-setup.json
./*.json
./*.bin
*.log
/models/
local-ai
server
embeddings
bert.cpp/
bert-cpp-server
a.out
tmp_*.js
qr_code_profile_*.png
qr_code_device_*.png
.venv/
shinkai-libs/shinkai-message-pyo3/tests/__pycache__
output.wav
shinkai-libs/shinkai-message-pyo3/venv
tmp_tests
parse_pdf_to_string_list_output.txt
zeko_word_listing.txt
.idea
tmp_cron_downloads
shinkai-mini-apps/shinkai-tray/src-tauri/models
shinkai-mini-apps/shinkai-tray/src-tauri/db
typescript
shinkai-libs/shinkai-message-pyo3/env_x86_64
.secret
db/.secret
./main_db
./vector_fs_db
./storage/*
vector_fs_db
storage
.vscode/*
rocksdb_logs
perf_testing_storage.zip
shinkai-libs/shinkai-fs-mirror/db_tests_persistence
db_tests_persistence
shinkai-libs/shinkai-fs-mirror/youtube
shinkai-libs/shinkai-fs-mirror/mirror_db
local_shinkai.key
shinkai-fs-mirror.zip
storage_9652
storage_9750
9752_shinkai.key
9652_shinkai.key
storage_streamer
storage_9750.zip
storage_9652.zip
streamer_shinkai_9850.key
storage_streamer.zip
storage_rob
storage_requester
shinkai-libs/shinkai-fs-mirror/top-10-hn
shinkai_node.svg
old_streamer_shinkai_9850.key
storage_debug
_oldlocal_shinkai.key
storage_streamer_tcp
streamer.key
shinkai-libs/shinkai-dsl/tmp
tmp
