[package]
name = "shinkai-node"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
prost-build = "0.8.0"

[dependencies]
prost = "0.8.0"
prost-derive = "0.8.0"
serde_json = "1.0.66"
tokio = { version = "1.0", features = ["full"] }
