[package]
name = "shinkai_node"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
prost-build = "0.8.0"

[dependencies]
async-trait = "0.1"
futures = "0.3.28"
warp = "0.3.0"
chrono = "0.4"
chrono-tz = "0.5"
prost = "0.8.0"
prost-derive = "0.8.0"
serde_json = "1.0.66"
chacha20poly1305 = "0.7.1"
sha2 = "0.9.5"
x25519-dalek = "1.2.0"
rand_os = "0.2.2"
rand = "0.8"
base64 = "0.13.0"
structopt = "0.3"
tokio = { version = "1.0", features = ["full"] }
libp2p = { version = "0.42.2", features = ["tcp-tokio", "dns-tokio"] }
log = "0.4.0"
env_logger = "0.7.1"
chashmap = "2.2.2"
async-channel = "1.6.1"

[dependencies.rocksdb]
version = "0.21.0"
default-features = false
features = ["lz4"]

[dependencies.serde]
version = "1.0.105"
features = ["derive"]

[dependencies.async-std]
version = "1.5.0"
features = ["unstable"]

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
