[package]
name = "shinkai_node"
version = "0.2.9"
edition = "2018"
authors = ["Nico Arqueros <nico@shinkai.com>"]

[lib]
doctest = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
prost-build = "0.8.0"
reqwest = { version = "0.11", features = ["json", "tokio-native-tls", "blocking"] }

[dependencies]
async-trait = "0.1.50"
futures = "0.3.28"
warp = "0.3.6"
chrono = "0.4"
chrono-tz = "0.5"
serde_json = "1.0.105"
chacha20poly1305 = "0.7.1"
sha2 = "0.9.5"
x25519-dalek = { version = "2.0.0", features = ["static_secrets"] }
ed25519-dalek = "2.1.0"
rand_os = "0.2.2"
rand = "0.8"
structopt = "0.3"
tokio = { version = "1.0", features = ["full"] }
log = "0.4.20"
chashmap = "2.2.2"
async-channel = "1.6.1"
lazy_static = "1.4.0"
clap = "3.0.0-beta.5"
anyhow = "1.0"
regex = "1"
csv = "1.1.6"
uuid = { version = "0.8", features = ["v4"] }
reqwest = { version = "0.11", features = ["json", "tokio-native-tls", "blocking"] }
# llm = { git = "https://github.com/rustformers/llm", branch = "main" }
ordered-float = "3.7.0"
keyphrases = "0.3.2"
byteorder = "1.4.3"
shinkai_message_primitives = { path = "./shinkai-libs/shinkai-message-primitives" }
shinkai_vector_resources = { path = "./shinkai-libs/shinkai-vector-resources" }
bincode = "1.3.3"
qrcode = "0.12"
image = "0.23"
urlencoding = "1.1.1"
hex = "=0.4.3"
aes-gcm = "0.10.3"
blake3 = "1.2.0"
tiktoken-rs = "0.5.6"
async-recursion = "1.0.5"
cron-parser = "0.8.1"
thiserror = "1.0.50"
pddl-ish-parser= "0.0.4"
base64 = "0.13.0"
ethers = "2.0"
dashmap = "5.5.3"
tiny-bip39 = "0.8.0"

[dependencies.rocksdb]
version = "0.21.0"
default-features = false
features = ["lz4"]

[dependencies.serde]
version = "1.0.188"
features = ["derive"]

[dependencies.async-std]
version = "1.5.0"
features = ["unstable"]

[dev-dependencies]
mockito = "1.0.2"
tokio-tungstenite = "0.15.0"