[workspace]
members = [
  "shinkai-libs/shinkai-crypto-identities",
  "shinkai-libs/shinkai-dsl",
  "shinkai-libs/shinkai-sheet",
  "shinkai-libs/shinkai-fs-mirror",
  "shinkai-libs/shinkai-message-primitives",
  "shinkai-libs/shinkai-ocr",
  "shinkai-libs/shinkai-tcp-relayer",
  "shinkai-libs/shinkai-vector-resources",
  "shinkai-libs/shinkai-vector-fs",
  "shinkai-libs/shinkai-db",
  "shinkai-bin/*",
]
resolver = "2"

[workspace.package]
authors = ["Nico Arqueros <nico@shinkai.com>"]

[workspace.dependencies]
shinkai_message_primitives = { path = "./shinkai-libs/shinkai-message-primitives" }
shinkai_vector_resources = { path = "./shinkai-libs/shinkai-vector-resources" }
shinkai_crypto_identities = { path = "./shinkai-libs/shinkai-crypto-identities" }
shinkai_tcp_relayer = { path = "./shinkai-libs/shinkai-tcp-relayer" }
shinkai_fs_mirror = { path = "./shinkai-libs/shinkai-fs-mirror" }
shinkai_dsl = { path = "./shinkai-libs/shinkai-dsl" }
shinkai_sheet = { path = "./shinkai-libs/shinkai-sheet" }
shinkai_ocr = { path = "./shinkai-libs/shinkai-ocr" }
shinkai_vector_fs = { path = "./shinkai-libs/shinkai-vector-fs" }
shinkai_db = { path = "./shinkai-libs/shinkai-db" }
