[package]
name = "shinkai_vector_resources"
version = "0.1.0"
edition = "2021"

[[test]]
name = "pdf_parsing_tests"
path = "tests/pdf_parsing_tests.rs"
required-features = ["static-pdf-parser"]

[[test]]
name = "vector_resource_tests"
path = "tests/vector_resource_tests.rs"

[dependencies]
lazy_static = "1.4.0"
env_logger = "0.9"
anyhow = "1.0"
regex = "1"
csv = "1.1.6"
serde_json = "1.0.105"
byteorder = "1.4.3"
ordered-float = "3.7.0"
blake3 = "1.5.0"
keyphrases = "0.3.2"
async-trait = "0.1.74"
async-recursion = "1.0.5"
scraper = "0.19.0"
chrono = { version = "0.4", features = ["serde"] }
chrono-tz = "0.5"
rand = "0.8.4"
hex = "=0.4.3"
textcode = "0.2.2"
lz4_flex = "0.11.0"
base64 = "0.13.0"
futures = "0.3.30"
urlencoding = "1.1.1"
docx-rust = "0.1.7"
shinkai_pdf_parser = { path = "../shinkai-pdf-parser", optional = true }

[build-dependencies]
reqwest = { version = "0.11.26", features = ["json", "tokio-native-tls", "blocking", "multipart"] }

[features]
default = ["desktop-only"]
desktop-only = ["reqwest/blocking", "comrak"]
dynamic-pdf-parser = ["shinkai_pdf_parser"]
static-pdf-parser = ["shinkai_pdf_parser/static"]

wasm-http = []

[dependencies.comrak]
version = "0.22.0"
default-features = true
optional = true

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["json", "tokio-native-tls", "blocking", "multipart", "default-tls"]

[dependencies.serde]
version = "1.0.188"
features = ["derive"]

[dev-dependencies]
tokio = { version = "1.36", features = ["full"] }
