[package]
name = "shinkai_node"
version = "0.7.7"
edition = "2021"
authors.workspace = true
# this causes `cargo run` in the workspace root to run this package
default-run = "shinkai_node"

[features]
default = []
stream = ["reqwest/stream"]
telemetry = ["opentelemetry", "opentelemetry_sdk", "opentelemetry-stdout", "opentelemetry-otlp", "opentelemetry-semantic-conventions", "tracing-opentelemetry", "tonic"]
console = ["console-subscriber"]

[lib]
doctest = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
prost-build = "0.8.0"
reqwest = { version = "0.11.24", features = ["json", "tokio-native-tls", "blocking", "stream"] }

[dependencies]
async-trait = "0.1.50"
futures = "0.3.28"
warp = "0.3.6"
chrono = "0.4"
chrono-tz = "0.5"
serde_json = "1.0.105"
chacha20poly1305 = "0.7.1"
x25519-dalek = { version = "2.0.0", features = ["static_secrets"] }
ed25519-dalek = "2.1.0"
rand = "0.8"
tokio = { version = "1.36", features = ["full"] }
log = "0.4.20"
chashmap = "2.2.2"
async-channel = "1.6.1"
lazy_static = "1.4.0"
clap = "3.0.0-beta.5"
anyhow = "1.0"
regex = "1"
csv = "1.1.6"
uuid = { version = "0.8", features = ["v4"] }
reqwest = { version = "0.11.24", features = ["json", "tokio-native-tls", "blocking", "stream"] }
# llm = { git = "https://github.com/rustformers/llm", branch = "main" }
keyphrases = "0.3.3"
shinkai_message_primitives = { workspace = true }
shinkai_vector_resources = { workspace = true}
shinkai_crypto_identities = { workspace = true}
shinkai_tcp_relayer = { workspace = true}
bincode = "1.3.3"
qrcode = "0.12"
image = "0.23"
urlencoding = "2.1.0"
hex = "=0.4.3"
aes-gcm = "0.10.3"
blake3 = "1.2.0"
async-recursion = "1.0.5"
cron-parser = "0.8.1"
thiserror = "1.0.50"
pddl-ish-parser= "0.0.4"
base64 = "0.13.0"
ethers = "2.0"
dashmap = "5.5.3"
tiny-bip39 = "0.8.0"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tiktoken-rs = "0.5.8"
num_cpus = "1.16.0"
async-lock = "2.4.0"
governor = "0.6.3"
lru = "0.7.0"
console-subscriber = { version = "0.1", optional = true }
quickxml_to_serde = "0.6.0"
minidom = "0.12"
rust_decimal = "1.17.0"
aws-types = "1.2.0"
aws-config = { version = "1.2.1", features = ["behavior-version-latest"] }

[dependencies.aws-sdk-s3]
version = "1.24.0"
features = ["behavior-version-latest"]

[dependencies.opentelemetry]
version = "0.21.0"
optional = true
features = ["trace", "metrics"]

[dependencies.opentelemetry_sdk]
version = "0.21.0"
default-features = false
features = ["trace", "rt-tokio"]
optional = true

[dependencies.opentelemetry-stdout]
version = "0.2.0"
features = ["trace", "metrics"]
optional = true

[dependencies.opentelemetry-otlp]
version = "0.14.0"
features = ["metrics", "http-proto", "reqwest-client"]
optional = true

[dependencies.opentelemetry-semantic-conventions]
version = "0.13.0"
optional = true

[dependencies.tracing-opentelemetry]
version = "0.22"
optional = true

[dependencies.tonic]
version = "0.9.2"
optional = true

[dependencies.rocksdb]
version = "0.22.0"
default-features = false
features = ["lz4"]

[dependencies.serde]
version = "1.0.188"
features = ["derive"]

[dependencies.async-std]
version = "1.5.0"
features = ["unstable"]

[dev-dependencies]
mockito = "1.0.2"
tokio-tungstenite = "0.15.0"
shinkai_fs_mirror = { workspace = true }
tempfile = "3.10.1"
fs_extra = "1.2.0"
