[package]
name = "shinkai_message_primitives"
version = "0.7.6"
edition = "2018"
authors = ["Nico Arqueros <nico@shinkai.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde_json = "1.0.117"
chacha20poly1305 = "0.7.1"
x25519-dalek = { version = "2.0.0", features = ["static_secrets"] }
ed25519-dalek = { version = "2.1.0", features = ["rand_core"] }
rand = "0.8.5"
chrono = "0.4"
chrono-tz = "0.5"
regex = "1"
anyhow = "1.0.72"
thiserror = "1.0.44"
console_log = "0.2"
log = "0.4.14"
colored = "2.0"
hex = "=0.4.3"
shinkai_vector_resources = { path = "../shinkai-vector-resources", default-features = false }
shinkai_dsl = { path = "../shinkai-dsl" }
aes-gcm = "0.10.3"
blake3 = "1.2.0"
rust_decimal = "1.17.0"
uuid = { version = "1.6.1", features = ["v4"] } 

[dependencies.tracing]
version = "0.1.40"
optional = true

[dependencies.tracing-subscriber]
version = "0.3"
optional = true

[dependencies.serde]
version = "1.0.188"
features = ["derive"]

[lib]
crate-type = ["cdylib", "rlib"]

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tracing = "0.1.40"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[[test]]
name = "shinkai_message_tests"
path = "tests/shinkai_message_tests.rs"

[[test]]
name = "shinkai_name_tests"
path = "tests/shinkai_name_tests.rs"
