.ion-item-home {
  --ion-item-background: theme("colors.slate.100");
  --background: theme("colors.slate.100");
  --box-shadow: none;
  --inner-border-width: 0;
  @apply rounded-lg ;
  &::part(native) {
    @apply h-[60px] md:h-[80px];
  }
  @media (prefers-color-scheme: dark) {
    --ion-item-background: theme("colors.slate.900");
    --background: theme("colors.slate.900");
    --background-hover: theme("colors.slate.800");
  }
}
